<%- include('./layouts/header') %>

<div id="app">
    <div class="ui container fluid linear-bg">
        <div class="content">
            <div class="page winners">
                <% if(typeof(response) !== 'undefined' && response.length) { %>
                    <h1 class="color white font-comfortaa">
                        Winners
                        <span style="text-transform: capitalize;">(<%= winner_type %>)</span>
                    </h1>

                    <%# Render Followers %>
                    <% if(winner_type === 'followers') { %>
                        <%- include('./components/renderFollowers', { data: response }) %>

                    <%# Render Tweets %>
                    <% } else if(winner_type === 'tweets') { %>
                        <%- include('./components/renderTweets', { data: response }) %>

                    <%# Render Retweets %>
                    <% } else if(winner_type === 'retweets') { %>
                        <%- include('./components/renderRetweets', { data: response }) %>
                    <% } %>

                <% } else { %>
                    <h1 class="color white font-comfortaa">No one won!</h1>
                <% } %>
                <a href="/competition" type="button" class="ui medium button standard inverted">
                    <i class="fas fa-chevron-left" style="margin-right: 10px;"></i>
                    Choose another option
                </a>
                <button type="button" class="ui medium button standard inverted" onclick="window.location.reload()">
                    Regenerate random winners
                    <i class="fas fa-redo" style="margin-left: 10px;"></i>
                </button>
            </div>
        </div>
    </div>

    <% if(!is_cookie_accepted) { %>
        <div id="cookie-warning">
            <h5>
                This website uses cookies to ensure you get the best experience on our website.
                <a href="#">Learn More</a>
            </h5>
            <button type="button" class="ui button standard inverted" id="login-with-twitter" v-on:click="postCookieAccept()">Accept</button>
        </div>
    <% } %>
</div>

<%- include('./layouts/footer') %>